[user]
	name = Kcraam
	email = kcraam@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = matching
[alias]
	co = checkout
	ci = commit
	st = status --untracked-files=no
	up = pull
[github]
	user = kcraam
	token = 
